.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  margin: 0;
  z-index: 2;
  color: #2f80ed;
  align-self: flex-start;
}


.khan__buy-link:hover{
  transition: .3s ease-out;
  opacity: .7;
  color: red;
}
